.nohighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.card-container {
    position: relative;
    width: 80px;
    height: 130px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

    .card-container .card {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 20px;
        background-color: #eee;
        color: #333;
        border-radius: 5px;
        border: 2px solid #333;
    }

    .card-container .volunteer {
        position: absolute;
        right: -5px;
        top: -11px;
        color: orange;
        font-size: 2em;
    }

    .card-container .estimate {
        font-weight: bold;
        font-size: 5em;
    }

    .card-container .estimate .waiting {
        color: #aaa;
    }

    .card-container .estimate .done {
        color: green;
    }

    .card-container .player-name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: bold;
    }

.game-board .btn {
    width: 100%;
    height: 45px;
}

.game-board input[type=number] {
    height: 45px;
}
