<form cg-busy="login.signalR.initialized" class="form-signin" novalidate name="loginForm" ng-submit="login.submitForm(loginForm)">
    <h2 class="form-signin-heading">Please sign in {{login.signalR.player | json}}</h2>
    <input type="text" class="form-control" required name="Name" ng-model="login.user.Name" placeholder="Display Name" />
    <label class="checkbox">
        <input type="checkbox" ng-model="login.user.Spectator"> Spectator
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
</form>