<div class="container-fluid game-board">
    <div class="row">
        <div class="col-xs-6">
            Room: <b>{{base.signalR.room}}</b>
        </div>
        <div class="col-xs-6" style="text-align: right;">
            {{base.signalR.currentPlayer.Name }} | <a style="cursor: pointer;" ng-click="poker.Leave()">Leave</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="players">
                <div class="player-container" ng-repeat="player in poker.signalR.players | filter:{ IsPlaying: true }">
                    <div class="flip-container" ng-class="{hover: poker.reveal}">
                        <div class="flipper">
                            <div class="front">
                                <!-- front content -->
                                <div class="card-container">
                                    <div class="card">
                                        <!-- Volunteer -->
                                        <div class="volunteer" ng-show="player.Volunteer">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <!-- Status -->
                                        <div class="estimate status">
                                            <i class="fa" ng-class="{
                                            'fa-clock-o waiting': !player.Estimate,
                                            'fa-check  done': player.Estimate,
                                            }">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="back">
                                <!-- back content -->
                                <div class="card-container">
                                    <div class="card" ng-class="{ changed: player.EstimateChanged }">
                                        <!-- Volunteer -->
                                        <div class="volunteer" ng-show="player.Volunteer">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <!-- Estimate -->
                                        <div ng-show="poker.reveal" class="estimate">
                                            <div>{{player.Estimate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Player Name -->
                    <div class="player-name">
                        {{player.Name}} <span style="font-weight: lighter;" ng-show="player.TotalHours">({{player.TotalHours}})</span>
                    </div>
                </div>
            </div>
            <div class="spectators">
                <strong>Spectators: </strong>
                <span ng-repeat="player in poker.spectators">
                    {{player.Name}}{{$index < poker.spectators.length - 1 ? ',' : ''}}
                </span>
            </div>
        </div>
    </div>


    <div ng-show="poker.signalR.currentPlayer.IsPlaying">
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                Your Estimate
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-3">
                <button class="btn btn-primary" ng-click="poker.Volunteer()">Dibs</button>
            </div>
            <div class="col-xs-6">
                <div class="pull-left" style="width: 80%">
                    <select class="form-control" ng-model="poker.estimate">
                        <option>.5</option>
                        <option>1</option>
                        <option>1.5</option>
                        <option>2</option>
                        <option>2.5</option>
                        <option>3</option>
                        <option>4</option>
                        <option>6</option>
                        <option>8</option>
                        <option>12</option>
                        <option>16</option>
                        <option>24</option>
                    </select>
                    <!--<input class="form-control" type="number" ng-model="poker.estimate" />-->
                </div>
                <div class="pull-left" style="width: 20%">
                    <button class="btn btn-primary" ng-click="poker.SubmitUnknown()">?</button>
                </div>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary" ng-click="poker.SubmitEstimate()">Done</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="poker.Reset()">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <select class="form-control" ng-model="poker.hours">
                    <option>.5</option>
                    <option>1</option>
                    <option>1.5</option>
                    <option>2</option>
                    <option>2.5</option>
                    <option>3</option>
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                    <option>24</option>
                </select>
                <!--<input class="form-control" type="number" ng-model="poker.hours" />-->
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary" ng-click="poker.AddHours()">Add Hours</button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-primary" ng-click="poker.SubtractHours()">Subtract Hours</button>
            </div>
        </div>
    </div>
    <audio style="display: none;" pk-audio="poker.sounds.dibs" controls="" src="/app/game/sounds/dibs.mp3"></audio>
    <audio style="display: none;" pk-audio="poker.sounds.playerJoin" controls="" src="/app/game/sounds/playerJoin.mp3"></audio>
    <audio style="display: none;" pk-audio="poker.sounds.reveal" controls="" src="/app/game/sounds/reveal.mp3"></audio>
    <audio style="display: none;" pk-audio="poker.sounds.waiting" controls="" src="/app/game/sounds/jeopardy.mp3"></audio>
</div>